/* .dataTables_wrapper .dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}
 */
/* .page-link {
    padding: 12px 16px !important;
} */

.sub-header-container .breadcrumb-one .breadcrumb-item a {
    vertical-align: baseline !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    width: 100% !important;
}
